<!-- Generated template for the FormatNumberWithColorComponent component -->
<span *ngIf="data > 0" class="text-green">
  <span *ngIf="showCurrency" class="pt5 pb5">&#8358;</span>{{ data | number:'1.2-2' }}
</span>

<span *ngIf="data < 0" class="text-red">
  <span *ngIf="showCurrency" class="pt5 pb5">&#8358;</span>({{ absoluteValue | number:'1.2-2' }})
</span>

<span *ngIf="data === 0" class="text-blue">
  <span *ngIf="showCurrency" class="pt5 pb5s">&#8358;</span>{{ data | number:'1.2-2' }}
</span>