csmobile-stb-trade-history {
  ion-grid.tradeOrderWrapper:nth-child(even) {
    background: #efefef;
  }

  .tradeOrderWrapper {
    .details {
      display: none;
    }
  }

  .tradeOrderWrapper.showDetails {
    .headers {
      ion-row {
        font-weight: bold;
      }
    }
    .details {
      display: block;
    }
  }

  .tradeOrderGroup {
    ion-grid:first-of-type {
      display: none;
    }
  }

  ion-item-divider {
    border-left: 5px solid #1a2155;
    .label-md {
      margin: 0 !important;
      font-weight: bold;
    }
  }

  ion-grid.tradeHistory {
    ion-row:nth-child(even) {
      background: #efefef;
    }
    ion-row {
      &:hover {
        cursor: pointer;
      }
    }
  }

  ion-segment {
    border: 2px solid #1a2155 !important;
    border-radius: 5px !important;
  }
  .segment-activated {
    background: #1a2155 !important;
    color: #ffffff !important;
  }
}
