<!-- Outstanding and All Orders -->
<div no-padding>
  <ion-segment [(ngModel)]="tradeOrderStatus" class="mt10">
    <ion-segment-button value="outstanding">
      Outstanding
    </ion-segment-button>
    <ion-segment-button value="all">
      All
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="tradeOrderStatus">

  <!-- Outstanding orders -->
  <div *ngSwitchCase="'outstanding'">
    <div class="row mt20 tradeOrderGroup" *ngFor="let tradeOrderDate of outstandingTradeOrders">
      <ion-item-divider color="light" class="font-size-14 bg-light-blue">{{tradeOrderDate[0].date}} </ion-item-divider>
      <ion-grid class="tradeOrderWrapper" *ngFor="let tradeOrder of tradeOrderDate" (click)="toggleTradeOrderDisplay($event)">
        <div class="headers">
          <ion-row>
            <ion-col class="pl15">{{tradeOrder.orderType}}: {{tradeOrder.instrument}}</ion-col>
            <ion-col text-right>Qty: {{tradeOrder.quantityFilled| number:'1.0-0'}}</ion-col>
          </ion-row>
        </div>

        <!-- TradeOrder details -->
        <div class="details">
          <ion-row>
            <ion-col class="pl15">Quantity Requested</ion-col>
            <ion-col text-right>{{tradeOrder.quantityRequested | number:'1.0-0'}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="pl15">Quantity Executed</ion-col>
            <ion-col text-right>{{tradeOrder.quantityFilled | number:'1.0-0'}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="pl15">Price Type</ion-col>
            <ion-col text-right>{{tradeOrder.priceType}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="pl15">Limit Price</ion-col>
            <ion-col text-right *ngIf="tradeOrder.priceType==='LIMIT'">&#8358;{{tradeOrder.limitPrice}}</ion-col>
            <ion-col text-right *ngIf="tradeOrder.priceType==='MARKET'">---</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="pl15">Order Date</ion-col>
            <ion-col text-right>{{tradeOrder.orderDate | date:'mediumDate' }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="pl15">Status</ion-col>
            <ion-col text-right>{{tradeOrder.orderStatus}}</ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>

    <div *ngIf="outstandingTradeOrders?.length <= 0">
      <!-- Display if there are no trade orders in the account -->
      <ion-item>
        <ion-grid>
          <ion-row class="mt40 mb40">
            <ion-col text-center>
              <i>No outstanding orders in this portfolio</i>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </div>

  <!-- All orders -->
  <div *ngSwitchCase="'all'">
    <div class="row mt20 tradeOrderGroup" *ngFor="let tradeOrderDate of tradeOrders">
      <ion-item-divider color="light" class="font-size-14 bg-light-blue">{{tradeOrderDate[0].date}} </ion-item-divider>
      <ion-grid class="tradeOrderWrapper" *ngFor="let tradeOrder of tradeOrderDate" (click)="toggleTradeOrderDisplay($event)">
        <div class="headers">
          <ion-row>
            <ion-col class="pl15">{{tradeOrder.orderType}}: {{tradeOrder.instrument}}</ion-col>
            <ion-col text-right>Qty: {{tradeOrder.quantityFilled| number:'1.0-0'}}</ion-col>
          </ion-row>
        </div>

        <!-- TradeOrder details -->
        <div class="details">
          <ion-row>
            <ion-col class="pl15">Quantity Requested</ion-col>
            <ion-col text-right>{{tradeOrder.quantityRequested | number:'1.0-0'}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="pl15">Quantity Executed</ion-col>
            <ion-col text-right>{{tradeOrder.quantityFilled | number:'1.0-0'}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="pl15">Price Type</ion-col>
            <ion-col text-right>{{tradeOrder.priceType}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="pl15">Limit Price</ion-col>
            <ion-col text-right *ngIf="tradeOrder.priceType==='LIMIT'">&#8358;{{tradeOrder.limitPrice}}</ion-col>
            <ion-col text-right *ngIf="tradeOrder.priceType==='MARKET'">---</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="pl15">Order Date</ion-col>
            <ion-col text-right>{{tradeOrder.orderDate | date:'mediumDate' }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="pl15">Status</ion-col>
            <ion-col text-right>{{tradeOrder.orderStatus}}</ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>

    <div *ngIf="tradeOrders?.length <= 0">
      <!-- Display if there are no trade orders in the account -->
      <ion-item>
        <ion-grid>
          <ion-row class="mt40 mb40">
            <ion-col text-center>
              <i>No orders in this portfolio</i>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </div>

</div>