<!-- Outstanding and All Orders -->
<div class="pl10 pr10 mt10">
  <ion-segment [(ngModel)]="tradeOrderStatus" class="">
    <ion-segment-button value="outstanding">
      Outstanding
    </ion-segment-button>
    <ion-segment-button value="all">
      All
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="tradeOrderStatus">

  <!-- Outstanding orders -->
  <div *ngSwitchCase="'outstanding'">
    <ion-grid class="tradeOrderGrid">
      <ion-row *ngFor="let tradeOrder of outstandingTradeOrders" class="">
        <ion-col col-5 class="font-size-12">
          <div class="font-size-13 text-red" *ngIf="tradeOrder.orderType === 'SELL'">{{tradeOrder.orderType }} {{tradeOrder.instrument }}</div>
          <div class="font-size-13 text-green" *ngIf="tradeOrder.orderType === 'BUY'">{{tradeOrder.orderType }} {{tradeOrder.instrument }}</div>
          <div>{{tradeOrder.priceType | titlecase }}</div>
          <div>
            <b>{{tradeOrder.orderStatus | titlecase }}</b>
          </div>
          <div class="font-size-10 mt1">{{tradeOrder.statusDate | date:'medium'}}</div>
        </ion-col>

        <ion-col col-5>
          <div>
            <span class="d--inline--block w35p">Quantity</span>
            <span class="d--inline--block w60p text-red" *ngIf="tradeOrder.orderType === 'SELL'">
              <b>{{tradeOrder.quantityRequested | number:'1.0-0'}}</b>
            </span>
            <span class="d--inline--block w60p text-green" *ngIf="tradeOrder.orderType === 'BUY'">
              <b>{{tradeOrder.quantityRequested | number:'1.0-0'}}</b>
            </span>
          </div>
          <div>
            <span class="d--inline--block w35p">Pending</span>
            <span class="d--inline--block w60p text-red">
              <b>{{tradeOrder.quantityPending | number:'1.0-0'}}</b>
            </span>
          </div>
          <div>
            <span class="d--inline--block w35p">Executed</span>
            <span class="d--inline--block w60p text-green">
              <b>{{tradeOrder.quantityFilled | number:'1.0-0'}}</b>
            </span>
          </div>
          <div>
            <span class="d--inline--block w35p">Price</span>
            <span class="d--inline--block w60p" *ngIf="tradeOrder.priceType==='LIMIT'">
              <b>&#8358;{{tradeOrder.limitPrice}}</b>
            </span>
            <span class="d--inline--block w60p" *ngIf="tradeOrder.priceType==='MARKET'">
              <b>---</b>
            </span>
          </div>
        </ion-col>

        <ion-col col-2>
          <div class="iconWrapper">
            <ion-icon *ngIf="tradeOrder.canBeCancelled" name="close" class="text-red" (click)="showCancelTradeOrderAlert(tradeOrder.id)"></ion-icon>
            <ion-icon *ngIf="tradeOrder.orderStatus === 'EXECUTED'" name="checkmark-circle" class="text-green" active="false"></ion-icon>
            <ion-icon *ngIf="tradeOrder.orderStatus === 'CANCELLED'" name="remove-circle" class="text-red" active="false"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Display if there are no trade orders in the account -->
    <div *ngIf="outstandingTradeOrders?.length <= 0">
      <ion-item>
        <ion-grid>
          <ion-row class="mt40 mb40">
            <ion-col text-center>
              <i>No outstanding orders in this portfolio</i>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </div>

  <!-- All orders -->
  <div *ngSwitchCase="'all'">
    <ion-grid class="tradeOrderGrid">
      <ion-row *ngFor="let tradeOrder of tradeOrders" class="">
        <ion-col col-5 class="font-size-12">
          <div class="font-size-13 text-red" *ngIf="tradeOrder.orderType === 'SELL'">{{tradeOrder.orderType }} {{tradeOrder.instrument }}</div>
          <div class="font-size-13 text-green" *ngIf="tradeOrder.orderType === 'BUY'">{{tradeOrder.orderType }} {{tradeOrder.instrument }}</div>
          <div>{{tradeOrder.priceType | titlecase }}</div>
          <div>
            <b>{{tradeOrder.orderStatus | titlecase }}</b>
          </div>
          <div class="font-size-10 mt1">{{tradeOrder.statusDate | date:'medium'}}</div>
        </ion-col>

        <ion-col col-5>
          <div>
            <span class="d--inline--block w35p">Quantity:</span>
            <span class="d--inline--block w60p text-red" *ngIf="tradeOrder.orderType === 'SELL'">
              <b>{{tradeOrder.quantityRequested | number:'1.0-0'}}</b>
            </span>
            <span class="d--inline--block w60p text-green" *ngIf="tradeOrder.orderType === 'BUY'">
              <b>{{tradeOrder.quantityRequested | number:'1.0-0'}}</b>
            </span>
          </div>
          <div>
            <span class="d--inline--block w35p">Pending:</span>
            <span class="d--inline--block w60p bold--text text-red">
              <b>{{tradeOrder.quantityPending | number:'1.0-0'}}</b>
            </span>
          </div>
          <div>
            <span class="d--inline--block w35p">Executed:</span>
            <span class="d--inline--block w60p bold--text text-green">
              <b>{{tradeOrder.quantityFilled | number:'1.0-0'}}</b>
            </span>
          </div>
          <div>
            <span class="d--inline--block w35p">Price:</span>
            <span class="d--inline--block w60p bold--text" *ngIf="tradeOrder.priceType==='LIMIT'">
              <b>&#8358;{{tradeOrder.limitPrice}}</b>
            </span>
            <span class="d--inline--block w60p bold--text" *ngIf="tradeOrder.priceType==='MARKET'">
              <b>---</b>
            </span>
          </div>
        </ion-col>

        <ion-col col-2>
          <div class="iconWrapper">
            <ion-icon *ngIf="tradeOrder.canBeCancelled" name="close" class="text-red" (click)="showCancelTradeOrderAlert(tradeOrder.id)"></ion-icon>
            <ion-icon *ngIf="tradeOrder.orderStatus === 'EXECUTED'" name="checkmark-circle" class="text-green" active="false"></ion-icon>
            <ion-icon *ngIf="tradeOrder.orderStatus === 'CANCELLED'" name="remove-circle" class="text-red" active="false"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Display if there are no trade orders in the account -->
    <div *ngIf="tradeOrders?.length <= 0">
      <ion-item>
        <ion-grid>
          <ion-row class="mt40 mb40">
            <ion-col text-center>
              <i>No orders in this portfolio</i>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </div>

</div>