csmobile-stb-trade-history {

  ion-grid.tradeOrderGrid {
    ion-row:nth-child(even) {
      background: rgb(238, 238, 238);
    }

    ion-row {
      ion-col {
        div {
          padding-top: 1px;
          padding-bottom: 1px;
        }
      }
    }
  }

  .iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 16px;
  }

  .bold--text {
    color: #444444;
  }

  ion-segment {
    border: 2px solid #1a2155 !important;
    border-radius: 5px !important;
  }
  .segment-activated {
    background: #1a2155 !important;
    color: #ffffff !important;
  }
}
