page-login {
  ion-card {
    position: relative;
    text-align: center;
    border-radius: 0;
    box-shadow: unset !important;
    background-color: transparent;
  }
  img {
    width: 20%;
    height: auto;
    margin: 20px auto;
  }
}
