page-login {
  ion-card {
    position: relative;
    text-align: center;
    border-radius: 0;
    box-shadow: unset !important;
    background-color: transparent;
  }
  img {
    width: 20%;
    height: auto;
    margin: 20px auto;
  }

  p.error-message-text {
    font-size: 1em;
    color: #ea6153;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid red;
  }
}
