page-watchlist {
  .scroll-content {
    // IOS specific styling, used to remove the padding beneath the header on ios devices
    padding-top: 0px !important;
    margin-top: 60px !important;
  }
  .flex-column {
    flex-direction: column;
  }

  ion-grid.watchlist--grid {
    ion-row:nth-child(even) {
      background: rgb(238, 238, 238);
    }
  }
}
