page-fixed-income-container {
  ion-segment {
    border: 2px solid #1a2155 !important;
    border-radius: 5px !important;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 98%;

    .segment-activated {
      background: #1a2155 !important;
      color: #ffffff !important;
    }
    .segment-button {
      max-height: 35px !important;
      line-height: 35px !important;
    }

    .segment-md .segment-button {
      height: 30px;
      line-height: 30px;
    }
  }
}
