page-home {
  .home-page-background {
    background: rgba(26, 33, 85, 1);
    img {
      width: 50%;
      height: auto;
      margin: 20px auto;
      margin-top: 20%;
    }

    ion-card {
      position: relative;
      text-align: center;
      border-radius: 0;
      box-shadow: unset;
      background-color: transparent;
      *height: 20%;
    }
    .card-title {
      font-size: 1.2em;
      width: 100%;
      font-weight: 500;
      color: #ffffff;
    }

    .btn-transparent {
      background: transparent;
      border: 1px solid #ffffff;
    }

    .btn-white {
      background: #ffffff;
      color: #1a2155;
    }
  }
}
