page-dashboard {
  #dashboard--wrapper {
    background: url("../../../../assets/imgs/app_background.jpg");
  }

  ion-item {
    font-size: 14px !important;
    background: url("../../../../assets/imgs/app_background.jpg") !important;

    &:hover {
      cursor: pointer;
      background: #eeeeee;
    }

    ion-label {
      margin-top: 0 important;
      margin-bottom: 0 important;
    }
  }

  .item-block {
    max-height: 3.5rem !important;
    min-height: 3.5rem !important;
  }

  .item-inner {
    margin-left: 0px !important;
  }

  .total {
    color: #28587b;
  }
}
