csmobile-stb-summary {
  .portfolio-summary-wrapper {
    ion-item {
      min-height: 25px !important;
      height: 25px !important;
      font-size: 14px;
      .item-inner {
        border: none !important;
      }
    }

    .item-block {
      max-height: 3rem !important;
      min-height: 3rem !important;
    }
  }

  .hideGraph {
    display: none !important;
  }
}
