csmobile-stb-summary {
  .portfolio-summary-wrapper {
    ion-item {
      min-height: 20px !important;
      height: 20px !important;
      font-size: 12px;
      .item-inner {
        border: none !important;
      }

      span {
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }

    .item-block {
      *max-height: 2rem !important;
      *min-height: 2rem !important;
    }
  }

  .hideGraph {
    display: none !important;
  }
}
