page-execute-mandate {
  .cashDiv {
    border-left: 7px solid #333;
  }

  .nseDiv {
    background: #f2dede;
    color: #a94442;
    font-style: italic;
    font-weight: bold;
  }

  .tradeOrderDetails {
    ion-item {
      font-size: 14px;

      span:first-child {
        font-weight: bold;
      }
    }
  }
}
