@import "../assets/styles/_general";

.toolbar-background {
  background-color: #1a2155;
}

.toolbar-title {
  color: #fff;
}

.bar-button {
  color: #fff;
}

// Set the global background image for all pages.
ion-content {
  background: url("../assets/imgs/app_background.jpg") !important;
}

// Hide the vertical scroll bar displayed on web pages by ionic
.scroll-content {
  overflow-y: auto !important;
}

// Styling for sidebar
#sidebar--wrapper {
  min-height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #333333 !important;

  .btn--logout {
    background: red;
    color: #ffffff;
  }
}
