<ion-menu [content]="mycontent" persistent="true" side="left" persistent="true">
  <ion-content class="bg-black">
    <div id="sidebar--wrapper">
      <ion-list no-lines>
        <ion-item-divider class="bg-black">NAIRA INVESTMENTS</ion-item-divider>
        <button ion-item menuClose class="bg-black font-size-14" *ngFor="let p of nairaPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{ p.title }}
        </button>
      </ion-list>

      <ion-list no-lines>
        <ion-item-divider class="bg-black">FX INVESTMENTS</ion-item-divider>
        <button ion-item menuClose class="bg-black font-size-14" *ngFor="let p of fxPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{ p.title }}
        </button>
      </ion-list>

      <!-- Logout -->
      <ion-list no-lines class="mb0">
        <button ion-item menuClose class="btn--logout" (click)="logout()">
          <ion-icon item-start [name]="cancel"></ion-icon>
          <ion-icon name="log-out" class="mr5"></ion-icon>
          Logout
        </button>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #mycontent swipeBackEnabled="false"></ion-nav>