csmobile-page-security-overview {
  .nameDiv {
    border: 2px solid #eee;
    box-shadow: 2px 2px #eee;
    border-left: 7px solid #333;
  }

  .bidsList {
    ion-row:nth-child(even) {
      background: #efefef;
    }
    ion-row:nth-child(1) {
      background: #aaa;
    }
  }

  .scroll-contentw {
    margin-top: 0px !important;
  }
}
