csmobile-page-security-overview {
  .label-md {
    margin: 5px 0px;
  }
  .fab {
    position: absolute;
    right: 1%;
  }
  .nameDiv {
    border: 2px solid #eee;
    box-shadow: 2px 2px #eee;
    border-left: 7px solid #333;
    height: 100%;
  }

  .bidsListt {
    ion-row:nth-child(even) {
      background: #efefef;
    }
    ion-row:nth-child(1) {
      background: #aaa;
    }

    overflow: hidden;
  }

  .scroll-contentw {
    margin-top: 0px !important;
  }

  .stockHighlightsDiv {
    ion-row {
      ion-col {
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1px;
        padding-bottom: 1px;
      }
    }

    *border-bottom: 1px solid #aaa;
  }

  .changeDiv {
    *padding-left: 7px !important;
  }

  .priceDiv {
    position: relative;
    *padding-right: 10px !important;
  }

  .bidOfferHeader {
    border-bottom: 1px solid #999999;
  }

  .bidCol {
    position: relative;
  }

  .bidCol:after {
    content: "";
    height: 300%; //You can change this if you want smaller/bigger borders
    width: 1px;

    position: absolute;
    right: 0;
    top: 0%; // If you want to set a smaller height and center it, change this value

    background-color: #999999; // The color of the border
  }

  .tradeHeaderRow {
    border-bottom: 1px solid #999999;
  }

  #bids--Offers--Content,
  #trade--content {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    overflow-y: scroll;
    max-height: 120px;
  }
  .csmobile--btn {
    height: 30px;
    padding: 0 7px;
  }

  /**
  * Styling for flex layout
  */
  .scroll-content {
    display: flex;
    flex-direction: column;
  }
  .flex-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #securityNameDiv {
    flex: 1;
  }

  #securityPriceDiv {
    flex: 2;
  }

  #graphDiv {
    flex: 2;
  }

  #bidsOffersTradeDiv {
    flex: 3;
    display: block;

    ion-segment {
      border: 2px solid #1a2155 !important;
      border-radius: 5px !important;
    }
    .segment-md .segment-button {
      height: 30px;
      line-height: 30px;
    }
    .segment-activated {
      background: #1a2155 !important;
      color: #ffffff !important;
    }
  }
}
