csmobile-fixed-income-investments-display {
  .summary {
    border-left: 5px solid rgba(26, 33, 85, 0.8);
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    background: rgba(26, 33, 85, 1);
    color: #fff;
  }

  ion-grid.investmentWrapper:nth-child(even) {
    background: #efefef;
  }

  ion-grid.investmentWrapper {
    border-bottom: 2px solid #ddd;
  }

  .investmentWrapper {
    .details {
      display: none;
    }
  }

  .investmentWrapper.showDetails {
    .headers {
      ion-row {
        font-weight: bold;
      }
    }
    .details {
      display: block;
    }
  }

  .investmentGroup {
    ion-grid:first-of-type {
      display: none;
    }
  }

  ion-item-divider {
    border-left: 5px solid #1a2155;
    .label-md {
      margin: 0 !important;
      font-weight: bold;
    }
  }

  ion-grid.tradeHistory {
    ion-row:nth-child(even) {
      background: #efefef;
    }
    ion-row {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
