<div class="pt10 pb10 pl20 ml5 mr5 summary" *ngIf="type === 'Running'">
  <ion-row class="font-size-14 pb5">
    Value of ({{investments.length}}) {{type}} {{kind}} Investments
  </ion-row>
  <ion-row class="font-size-18 font-bold">
    {{currency}}{{totalFixedIncomeValue | number:'1.2-2'}}
  </ion-row>
</div>

<div *ngIf="investments.length === 0" class="center pt20 font-bold font-size-15 align-center">
  <p class="text-center">
    <i>No {{type}} {{kind}} Investments</i>
  </p>
</div>

<div *ngIf="investments.length > 0">
  <ion-grid class="investmentWrapper" *ngFor="let investment of investments" (click)="toggleInvestmentDisplay($event)">
    <div class="headers">
      <ion-row>
        <!-- <ion-col class="pl15">INVESTMENT TYPE</ion-col> -->
        <ion-col text-left class="pl16 text-bold">{{investment?.instrumentTypeLabel }}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="pl15 text-bold font-size-11">AMOUNT INVESTED</ion-col>
        <ion-col text-right class="font-size-11">{{currency}}{{investment?.faceValue | number:'1.2-2' }}</ion-col>
      </ion-row>
      <ion-row *ngIf="investment?.status === 'RUNNING'">
        <ion-col class="pl15 text-bold font-size-11">RETURN TILL DATE</ion-col>
        <ion-col text-right class="font-size-11">{{currency}}{{investment?.accruedInterest | number:'1.2-2' }}</ion-col>
      </ion-row>
      <ion-row *ngIf="investment?.status === 'RUNNING'">
        <ion-col class="pl15 text-bold font-size-11">VALUE TILL DATE</ion-col>
        <ion-col text-right class="font-size-11">{{currency}}{{investment?.currentValue | number:'1.2-2' }}</ion-col>
      </ion-row>
      <ion-row *ngIf="investment?.status !== 'RUNNING'">
        <ion-col class="pl15 text-bold font-size-11">RETURN TO TERMINATION</ion-col>
        <ion-col text-right class="font-size-11">{{currency}}{{investment?.accruedInterest | number:'1.2-2' }}</ion-col>
      </ion-row>
      <ion-row *ngIf="investment?.status !== 'RUNNING'">
        <ion-col class="pl15 text-bold font-size-11">VALUE AT TERMINATION</ion-col>
        <ion-col text-right class="font-size-11">{{currency}}{{investment?.valueAtTermination | number:'1.2-2' }}</ion-col>
      </ion-row>
    </div>

    <!-- investment details -->
    <div class="details">
      <ion-row>
        <ion-col class="pl15 text-bold font-size-11">Investment Status</ion-col>
        <ion-col text-right class="font-size-12 text-bold font-size-11">{{investment?.status}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="pl15 text-bold font-size-11">Date of Investment</ion-col>
        <ion-col text-right class="text-bold font-size-11">{{investment?.startDate | date:'mediumDate'}}</ion-col>
      </ion-row>
      <ion-row *ngIf="investment?.status !== 'RUNNING'">
        <ion-col class="pl15 text-bold font-size-11">Date of Termination</ion-col>
        <ion-col text-right class="text-bold font-size-11">{{investment?.terminationDate | date:'mediumDate'}}</ion-col>
      </ion-row>
      <ion-row *ngIf="investment?.status === 'RUNNING'">
        <ion-col class="pl15 text-bold font-size-11">Expected Maturity Date</ion-col>
        <ion-col text-right class="text-bold font-size-11">{{investment?.expectedMaturity | date:'mediumDate'}}</ion-col>
      </ion-row>
      <ion-row *ngIf="investment?.status === 'RUNNING'">
        <ion-col class="pl15 text-bold font-size-11">Expected Value At Maturity</ion-col>
        <ion-col text-right class="text-bold font-size-11">{{currency}}{{investment?.valueAtMaturity| number:'1.2-2'}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="pl15 text-bold font-size-11">Investment Duration</ion-col>
        <ion-col text-right class="text-bold font-size-11">{{investment?.tenure}} days</ion-col>
      </ion-row>
      <ion-row *ngIf="investment?.status !== 'RUNNING'">
        <ion-col class="pl15 text-bold font-size-11">Actual Investment Duration</ion-col>
        <ion-col text-right class="text-bold font-size-11">{{investment?.actualInvestmentDuration}} days</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="pl15 text-bold font-size-11">Rate</ion-col>
        <ion-col text-right class="text-bold font-size-11">{{investment?.currentRate | number:'1.2-2' }}%</ion-col>
      </ion-row>
    </div>
  </ion-grid>
</div>