<ion-header>

  <ion-navbar>
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <form novalidate [formGroup]="changePasswordForm" (submit)="changePassword()" class="mb40">
    <ion-list>

      <!-- End of current password validation rules -->
      <ion-item>
        <ion-label floating>Current Password</ion-label>
        <ion-input type="password" formControlName="currentPassword"></ion-input>
      </ion-item>
      <!-- current password validation rules -->
      <p ion-text color="danger" class="error-message-text" *ngIf="currentPassword.invalid && (currentPassword.touched || currentPassword.dirty)">*Current Password is required</p>

      <!-- End of New Password validation rules -->
      <ion-item>
        <ion-label floating>New Password</ion-label>
        <ion-input type="password" formControlName="newPassword"></ion-input>
      </ion-item>
      <!-- New Password validation rules -->
      <p ion-text color="danger" class="error-message-text" *ngIf="newPassword.invalid && (newPassword.touched || newPassword.dirty)">*New Password is required</p>

      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <!-- End of Confirm Password validation rules -->
      <p ion-text color="danger" class="error-message-text" *ngIf="confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)">*Confirm Password is required</p>
      <p ion-text color="danger" class="error-message-text" *ngIf="passwordsDoNotMatch">*Password's do not match</p>
    </ion-list>

    <ion-grid>
      <ion-row text-center>
        <ion-col>
          <button ion-button [disabled]="!changePasswordForm.valid" type="submit" class="mt20 w60p">Change Password</button>
        </ion-col>
      </ion-row>
    </ion-grid>


  </form>
</ion-content>